body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.mainPagePicture{
  height: 256px;
  width: 256px;
}

.dinoGif{
  height:64px;
  width:128px;
}

.cartPic{
  height:64px;
  width:64px;
}

.legal{
  opacity: 1
}

.dinosaurs {
  display: flex;
  flex-wrap: wrap;
}
.dinosaur {
  width: 33%;
}

.dancingDino{
  height: 64px;
  width: 64px;
}
